{% with custom_header=True %}
{% include "header.html" %}
{% endwith %}
<header>
   <center>
      <div class="header">
         <div class="container2">
            <div style="text-align: center; white-space: pre; color:  #80BBE8;font-weight: bold; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(128, 163, 232, 0.1),
               0 0 10px rgba(128, 163, 232, 0.1);">
			   
           ▄   ▄█ ▄█▄    ▄███▄    ▄  █ ██     ▄▄▄▄▀ 
            █  ██ █▀ ▀▄  █▀   ▀  █   █ █ █ ▀▀▀ █    
        ██   █ ██ █   ▀  ██▄▄    ██▀▀█ █▄▄█    █    
        █ █  █ ▐█ █▄  ▄▀ █▄   ▄▀ █   █ █  █   █     
        █  █ █  ▐ ▀███▀  ▀███▀      █     █  ▀      
        █   ██                     ▀     █          
            </div>
         </div>
      </div>
   </center>
</header>
<div class="container">
   <section id="main_content">
      <center>
         <h2>Please define a password for the Web Interface.</h2>
         <form method="POST" id="passform">
            Username<br><input name="username" id="username")><br><br>
            New Password<br><input type="password" name="password" id="password1"><br><br>
            Confirm<br><input type="password" id="password2"><br><br>
            <input type="submit" value="Set Password">
         </form>
   </section>
</div>
</center>
<script>
   document.getElementById("passform").onsubmit = function() {
     if (document.getElementById("password1").value == document.getElementById("password2").value && document.getElementById("username").value != 0) {
       return true;
     }
     else {
       alert("Passwords do not match, or you did not enter a username.");
       return false;
     }
   }
</script>
{% include "footer.html" %}