{% with title="Nicehat" %}
{% include "header.html" %}
{% endwith %}
<center>
<div class="center">
<div class="container" style="display: flex, margin-left: auto,
    margin-right: auto;" >
	<section id="main_content">
<a href="{{ url_for('webui.agent_list') }}">client list</a></li>


<div style="white-space: pre;color:  #80BBE8;font-weight: bold font-size: 5; text-align: center;">

Hey, nice hat!

      :*%%@@@@@@@%%%#*:      
     .@@@@@@@@@@+#@@@:      
      %@@@@@@@@@+%@@%       
      *@@@@@@@@@+@@@+       
      *@@@@@@@@@+@@@+       
      @@@@@@@@@@=%@@#       
 .=+++@@@@@@@@@@-#@@@ .::   
 -@@@@@@@@@@@@@@%@@@%%%#=   
  .+%@@@@@@@@%#*=:--::      
       
	   
</div>




  </section>
  </center>
</div>
</div>
</center>
{% include "footer.html" %}
